@mixin flex-row {
    display: flex;
    flex-direction: row;

    &.children-center {
        align-items: center;
        justify-content: center;
    }

    &.no-wrap {
        flex-wrap: nowrap;
    }
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}