<div class="padded-page-container">
    <div class="table-row children-center">
        <h1>Create a new illustration</h1>
    </div>
    <form class="create-form" [formGroup]="illustrationForm" (ngSubmit)="onSubmit()" #createIllustrationForm="ngForm">
        <div class="table-row children-center">
            <mat-form-field class="responsive-width">
                <mat-label>Title</mat-label>
                <input matInput
                    placeholder="Ex. The Angry Potter"
                    id="title_create_input"
                    class="responsive-width"
                    formControlName="title" required>
            </mat-form-field>
        </div>
        <div class="table-row children-center">
            <mat-form-field class="responsive-width">
                <mat-label>Content</mat-label>
                <textarea matInput
                    placeholder="Ex. There once was a potter who made things and then broke them"
                    formControlName="body" class="illustration-content responsive-width" required></textarea>
            </mat-form-field>
        </div>
        <div class="table-row children-center">
            <button type="submit" [disabled]="!illustrationForm.valid" mat-raised-button color="primary">Create</button>
        </div>
    </form>
    <div class="success-message children-center" *ngIf="submit$ | async as result; else indicator">
        <span *ngIf="result !== true">Illustration created!</span>
    </div>
    <ng-template #indicator>
        <div class="fullscreen-loading-veil">Loading...</div>
    </ng-template>
</div>