<div class="padded-page-container">
    <div class="table-row children-center">
        <h1>Create a new illustration</h1>
    </div>
    <form class="example-form">
        <div class="table-row children-center">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput placeholder="Ex. The Angry Potter" value="">
              </mat-form-field>
        </div>
        <div class="table-row children-center">
            <mat-form-field>
                <mat-label>Content</mat-label>
                <textarea matInput placeholder="Ex. There once was a potter who made things and then broke them"></textarea>
              </mat-form-field>
        </div>
        <div class="table-row children-center">
            <button mat-raised-button color="primary">Create</button>
        </div>
    </form>
</div>