@import '../../styles/forms.scss';

.table-row {
    @include flex-row;
}

.fullscreen-loading-veil {
    @include full-screen;
    @include loading-veil;
}

.success-message {
    @include flex-row;

    margin-top: 10px;
}

.illustration-content {
    height: 200px;
}

.responsive-width {
    width: 400px;
}