<div class="padded-page-container">
    <h1>Create a new illustration</h1>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Ex. The Angry Potter" value="">
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Content</mat-label>
          <textarea matInput placeholder="Ex. There once was a potter who made things and then broke them"></textarea>
        </mat-form-field>
      </form>
</div>