@import '../../styles/forms.scss';
@import '../../styles/responsive.scss';

.table-row {
    @include flex-row;
}

.fullscreen-loading-veil {
    @include full-screen;
    @include loading-veil;
}

.success-message {
    @include flex-row;

    margin-top: 10px;
}

#create_form {
    @include flex-col;
}

#title_field_holder {
    @include flex-col;
}

#title_field {
    @include flex-col;

    width: calc(100% - 20px);

    @include custom(520) {
        width: 500px;
    }
}

#title_create_input {
    @include flex-col;
}

.illustration-content {
    height: 200px;
}

.responsive-width {
    width: 400px;
}

.separate-bottom {
    padding-bottom: 20px;
}

.bookshelf {
    @include flex-col;
    align-items: center;
}

.slimline {
    height: 300px;
    max-width: 500px;
    overflow: auto;
}

.fullscreen-loading-veil {
    @include full-screen;
    @include loading-veil;
}

#coming_soon_text {
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}