// Imports
@import '../../styles/forms.scss';
@import '../../styles/responsive.scss';

//Styles
.padded-page-container {
    height: calc(100% - 20px);
    @include flex-col;
}

.top-message {
    font-weight: bold;
}

.help-text {
    color: #444444;
}

.search-panel-container {
    border-bottom: 1px solid lightgray;
}

.responsive-breakdown {
    @media (min-width: $breakpoint-md+1) {
        @include flex-row;
    }

    @media (max-width: $breakpoint-md) {
        @include flex-col;
    }
}

.spread-out {
    justify-content: space-around;
}

.flex-end {
    justify-content: flex-end;
}

.flex-full {
    @include flex-full;
}

.pad-between:not(:last-child) {
    @media (min-width: $breakpoint-md+1) {
        padding-right: 10px;
    }
}

.control-button {
    padding: 0 50px;
    margin-bottom: 10px;
}

.results-panel-container {
    position: relative;
    flex: 1 1 100%;
    overflow: auto;
}

.result-row {
    @include flex-col;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid lightgray;

    &:nth-child(odd) {
        background-color: whitesmoke;
    }

    .top-bar {
        justify-content: space-between;
        padding: 5px 0;

        @media (max-width: $breakpoint-md) {
            height: 40px;

            .title,
            .updated {
                flex: 1 1 auto;
                min-height: 20px;
            }
        }

        .title {
            font-size: 16px;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
        }

        .updated {
            color: #444444;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .bottom-bar {
        display: flex;
        flex: 0 1 50%;
        overflow: hidden;
    }
}

.no-results-veil {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}