<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<mat-toolbar color="primary" class="main-navigation-bar">
  <!-- TODO: Replace this with an actual logo -->
  <div class="main-navigation-child main-navigation-logo" routerLink="/">Illustrations</div>
  <span *ngIf="auth.isAuthenticated$ | async; else needLogin">
    <a class="main-navigation-child main-navigation-link menu-link"
    (click)="toggleDrawer()"
    aria-label="Menu to move about the app">
      <fa-icon [icon]="faBars"></fa-icon>
    </a>
  </span>
  <ng-template #needLogin>
    <a class="main-navigation-child main-navigation-link" (click)="auth.loginWithRedirect()">Sign In <fa-icon [icon]="faSignInAlt"></fa-icon></a>
  </ng-template>
</mat-toolbar>
<mat-drawer-container class="app-container">
  <mat-drawer-content>
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>
  </mat-drawer-content>
  <mat-drawer mode="over" position="end" [(opened)]="menuOpen">
    <div class="sidenav-container" (click)="menuOpen = false">
      <div class="nav-item-wrapper" routerLink="/dashboard" routerLinkActive="nav-current-route">Dashboard</div>
      <div class="nav-item-wrapper" routerLink="/create" routerLinkActive="nav-current-route">Create</div>
      <div class="nav-item-wrapper">Connections</div>
      <div class="nav-item-wrapper">
        <a (click)="auth.logout({ returnTo: document.location.origin })">Log Out</a>
      </div>
    </div>
  </mat-drawer>
</mat-drawer-container>
<!-- <nav>
  <div class="main-navigation-bar">
    <div class="main-navigation-child main-navigation-logo">Logo</div>
    <div class="main-navigation-child main-navigation-link"><a routerLink="/login" routerLinkActive="active">Sign In <fa-icon [icon]="faSignInAlt"></fa-icon></a></div>
    <a class="main-navigation-child main-navigation-link" (click)="auth.login()" *ngIf="!auth.loggedIn">Sign In <fa-icon [icon]="faSignInAlt"></fa-icon></a>
    <a class="main-navigation-child main-navigation-link menu-link" (click)="auth.logout()" *ngIf="auth.loggedIn"><fa-icon [icon]="faBars"></fa-icon></a>
    <a class="main-navigation-child main-navigation-link" (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</a>
  </div>
</nav> -->