$nav-height: 50px;

.main-navigation-bar {
    display: flex;
    flex-direction: row;
    background-color: #1F2C84;
    height: $nav-height;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;

    .main-navigation-child {
        padding: 0 10px;
        height: $nav-height;
        line-height: $nav-height;
        color: whitesmoke;

        &.main-navigation-link {
            &:hover {
                background-color: rgba(255, 255, 255, 0.25);
                cursor: pointer;
            }
    
            a {
                color: whitesmoke;
                text-decoration: none;
                font-weight: bold;
            }
        }

        &.main-navigation-logo {
            font-weight: bolder;
            cursor: pointer;
        }

        &.menu-link {
            width: $nav-height;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
}

.app-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidenav-container {

    .filler {
        background-color: whitesmoke;
    }
    
    .nav-item-wrapper {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 10px;
        font-size: 1.5em;
        // border-bottom: 1px solid #000000;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &.nav-current-route {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}