<div class="padded-page-container">
    <h2 class="underlined-header">The 10 most recent illustrations</h2>
    <div class="illustration-snippet" *ngFor="let illustration of lastTenIllustrations">
        <div class="created-date children-center">
            <div class="month-abbr">{{illustration.createdAt | date:'MMM'}}</div>
            <div class="day-number">{{illustration.createdAt | date:'dd'}}</div>
        </div>
        <div class="text-preview">
            <div class="title-pane">{{illustration.title}}</div>
            <div class="body-pane">
                {{illustration.body}}
            </div>
            <div class="readmore-pane">
                <span class="read-more" [routerLink]="['/illustration', illustration._id]">Read More</span>
            </div>
        </div>
    </div>
</div>