@import '../../styles/forms.scss';

.padded-page-container {
    @include flex-col;
    height: 100%;
}

#snippet-container {
    flex: 1 1 100%;
    overflow: auto;
}

.underlined-header {
    margin: 0;
}

.illustration-snippet {
    @include flex-row;

    height: 100px;
    margin: 0 0 25px 0;

    &:nth-child(1) {
        margin-top: 10px;
    }

    .text-preview {
        @include flex-col;

        flex: 0 1 100%;
        padding-left: 10px;
        font-size: 15px;

        .title-pane {
            font-size: 18px;
            font-weight: bold;
        }

        .body-pane {
            // border-bottom: 1px solid #AAA;
            padding-bottom: 10px;
            position: relative;
            overflow: hidden;
        }

        .readmore-pane {
            display: flex;
            justify-content: center;
            border-top: 1px solid #AAA;
            margin-top: 10px;

            .read-more {
                background-color: white;
                font-size: 15px;
                line-height: 12px;
                margin-top: -7px;
                padding: 0 10px 0 10px;
                z-index: 10;
                cursor: pointer;
            }
        }
    }
}

.created-date {
    @include flex-col;

    width: 50px;
    height: 50px;

    .month-abbr, .day-number {
        font-size: 25px;
        line-height: 25px;
    }
}