@import '../../../styles/forms.scss';
@import '../../../styles/responsive.scss';

.collection-container {
    border: 1px solid #CCCCCC;
    display: flex;
    flex-direction: column;
    height: calc(100% - 10px);
    overflow: auto;
}

.collection-header {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #CCCCCC;
}

.collection-list {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    overflow: auto;
}

.collection-item {
    padding: 15px 25px;
    cursor: pointer;

    @include lg {
        padding: 5px 10px;
    }

    &:nth-child(odd) {
        background-color: whitesmoke;
    }
}