<div class="padded-page-container">
    <div class="fullscreen-loading-veil" *ngIf="isLoading$ | async">
        Loading...
    </div>
    <div class="loaded-illustration" *ngIf="illustration$ | async as illustration">
        <!-- If the illustration has been loaded already, we want it to remain visible under the loading veil -->
        <div *ngIf="illustration._id">
            <div class="owner-view" *ngIf="illustration.creator === userId; else visitor">
                <form class="illustration-form" [formGroup]="illustrationForm" #editIllustrationForm="ngForm">
                    <div class="space-between" id="top_metadata">
                        <span class="field-label">Created: {{illustration.createdAt | date:'longDate'}}</span>
                        <span class="field-label">Last Updated: {{illustration.updatedAt | date:'longDate'}}</span>
                    </div>
                    <div id="title_field">
                        <mat-form-field appearance="outline" class="flex-full">
                            <mat-label for="title_illustration_input">Title</mat-label>
                            <input matInput
                                placeholder="Ex. The Angry Potter"
                                id="title_illustration_input"
                                class="responsive-width"
                                formControlName="title" required>
                        </mat-form-field>
                    </div>
                    <div class="field-label separate-bottom">Aproximate Reading Time: {{ (readTime*1000) | date:'m:ss' }}</div>
                    <div class="responsive-expand flex-full last-input-container separate-bottom">
                        <editor
                            apiKey="rzi5eoji5qf0glawt64s7gkwxg9psn6rxq0q8cgjhby0en2b"
                            formControlName="body"
                            (onKeyUp)="updateReadingTime()"
                            [init]="{
                                height: 500,
                                menubar: false,
                                plugins: [
                                    'advlist autolink lists link image charmap print',
                                    'preview anchor searchreplace visualblocks code',
                                    'fullscreen insertdatetime media table paste',
                                    'help wordcount'
                                ],
                                toolbar:
                                    'undo redo | formatselect | bold italic underline | \
                                    alignleft aligncenter alignright alignjustify | \
                                    bullist numlist outdent indent | help'
                            }"
                        >
                        </editor>
                    </div>
                    <div class="bottom-controls">
                        <button class="control-button" id="delete_button" [disabled]="!illustrationForm.valid" (click)="deleteIllustration()" mat-raised-button color="warn"><fa-icon [icon]="faTrash"></fa-icon></button>
                        <divl class="spacer"></divl>
                        <button class="control-button" id="reset_button" [disabled]="!illustrationForm.dirty" (click)="resetChanges()" mat-raised-button>Reset</button>
                        <button class="control-button" id="save_button" [disabled]="!illustrationForm.valid || !illustrationForm.dirty" (click)="saveChanges()" mat-raised-button color="primary">Save</button>
                    </div>
                </form>
            </div>
            <ng-template #visitor>
                <div class="visitor-view">
                    <div class="responsive-breakdown space-between pad-bottom" id="top-metadata">
                        <span class="field-label">Created: {{illustration.createdAt | date:'longDate'}}</span>
                        <span class="field-label">Last Updated: {{illustration.updatedAt | date:'longDate'}}</span>
                    </div>
                    <div class="header-text">{{illustration.title}}</div>
                    <div class="field-label separate-bottom">Aproximate Reading Time: {{ (readTime*1000) | date:'m:ss' }}</div>
                    <form [formGroup]="illustrationForm" #editIllustrationForm="ngForm">
                        <editor
                            apiKey="rzi5eoji5qf0glawt64s7gkwxg9psn6rxq0q8cgjhby0en2b"
                            formControlName="body"
                            disabled="true"
                            (onKeyUp)="updateReadingTime()"
                            [init]="{
                                height: 500,
                                menubar: false,
                                plugins: [],
                                toolbar: ''
                            }"
                        >
                        </editor>
                    </form>
                </div>
            </ng-template>
        </div>
    </div>
</div>