@import '../../styles/forms.scss';
@import '../../styles/responsive.scss';

.padded-page-container {
    @include flex-col;
    height: calc(100% - 20px);
}

.loaded-illustration {
    @include flex-col;

    // Take up the entire page
    flex: 1 1 100%;
}

.owner-view,
.visitor-view {
    @include flex-col;

    // Take up the entire page
    flex: 1 1 100%;
}

.illustration-form {
    @include flex-col;

    // Take up the entire page
    flex: 1 1 100%;
}

.last-input-container {
    @include flex-col;
}

.last-input-field {
    @include flex-col;
}

.bottom-controls {
    @include flex-row;

    justify-content: flex-end;
}

.control-button {
    margin: 0 10px;
}

#body_illustration_input {
    flex: 1 1 100%;
}

.pad-bottom {
    padding-bottom: 10px;
}

.responsive-breakdown {
    @include flex-col;

    align-items: flex-start;

    // 576px window width and more
    @include sm {
        @include flex-row;
    }
}

.responsive-expand {
    flex-grow: 1;
}

.space-between {
    justify-content: space-between;
}

#top_metadata {
    @include flex-col;

    align-items: flex-start;
    margin-bottom: 10px;

    @include sm {
        @include flex-row;

        align-items: center;
    }
}

#title_field {
    @include flex-col;
}

.flex-full {
    @include flex-full;
}

.right-margin {
    margin-right: 10px;
}

.field-label {
    color: #444444;
}

.separate-bottom {
    padding-bottom: 20px;
}

.illustration-content {
    height: 400px;
}

.spacer {
    flex: 1 1 100%;
}

.fullscreen-loading-veil {
    @include full-screen;
    @include loading-veil;
}

// Visitor View elements
.header-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.boxed-text {
    font-size: 14px;
    border: 1px solid #CCC;
    background-color: whitesmoke;
    padding: 10px 0;

    @include sm {
        padding: 10px;
    }
}